* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "微软雅黑";

}
body{
  padding-right: 0!important;
}
body,
html {
  color: #333;
}

a {
  color: #333;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

input,
button,
select,
textarea {
  outline: none;
}

.clear:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}